body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
   
  }
  
  body {
    max-width: 1500px;
    margin: auto;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  header{
  width: 100%;
  display: inline-block;
  margin-top: 20px;
      }

.top-header-text> p, .top-header-text>p a{
    background-color: rgba(96, 38, 127, 1);
    text-align: center;
    color: white;
    padding: 15px;
    
}


nav {
  width: 100%;
    border-bottom:  2px solid rgb(110, 40, 176);
    padding:10px;
    display: flex;
    gap: 20px;
    padding: 20px;
        justify-content: space-between;
    align-items: center;
    
  }

.header-logo a{
 
  color: #9A54BC;
  font-size: 30px;
  text-decoration: none;
 
}

.menu-link{
  display: flex;
  gap: 20px;
  align-items: center;
  /* justify-content: center; */
  
  }

.menu-link a{

  font-size: 20px;
  text-decoration: none;
   color: black;
   border-radius: 5px;
   /* padding: 5px; */
      }


      .menu-link a:last-child{
        color: #9A54BC;
        border: 2px solid #9A54BC;
        padding: 5px;
      }    
  .menu-link a:hover{
    color: #9A54BC;
  }
  .menu-link a:last-child:hover{
    color: white;
    border: 2px solid #9A54BC;
    padding: 5px;
    background-color: #9A54BC;
  }  

  main{
    width: 100%;
    display: block;
    text-align: center;
  }

.main-text{
 
  color: #2B0236;
  font-size: 30px;
  margin: 20px;
}


.hero-request-button{
border: 2px solid #9a54bc;
background-color: #9A54BC ;
color: white;
padding: 9px;
margin-top: 3px;
border-radius: 5px;
font-size: 15px;
font-weight: 700;
}
.hero-request-button:hover{
background-color: #c587e4;
}


.hero-images-section{
  margin-top: 30px;
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.hero-images-section .big-elipse{
  width: 100%;
  background-color: rgba(245, 225, 255, 0.3);
  height: 400px;
  width: 400px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: justify;
 
}
.hero-images-section .big-elipse .small-elipse{
  background-color: rgba(245, 225, 255, 0.8);
  height: 240px;
  width: 240px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  justify-content: center;
  align-items: center;
  display: flex;

}
.hero-images-section .rectangle{
  background-color: rgb(255, 255, 255);
  border: 2px solid rgba(154, 84, 188, 1);
  height: 240px;
  width: 120px;
  top:10px;
  position: absolute;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 30px;
  color: rgba(154, 84, 188, 1);
}
.hero-images-section .small-elipse button{
  border: 2px solid rgba(154, 84, 188, 1);
  background-color: white;
  padding: 7.41px;
  border-radius: 2.96px;
  position: absolute;
  bottom: -100px;
  color: rgba(96, 38, 127, 1);
  font-size: 15px;
font-weight: 700;
 
}
.small-elipse button:hover{
  box-shadow: 1px 1px 10px;

}


.brands-section h1{
font-size: 25px;


}
.brands-list{
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.collab-app-help{
margin-top: 80px;

}
.collab-app-help h2{
  font-size: 35px;
  line-height: 25px;
}
.app-content{
/* background-color: aqua; */
margin-right: 10%;
margin-left: 10%;
display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.info-side{
  width: 60%;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  
 
}
.buttons-container{
  display: flex;
  justify-content: center;
  gap: 1px;
  /* background-color: antiquewhite; */
  padding: 5px 0;
  box-shadow: 0px 3px 10px rgb(153, 146, 146);
  border-radius: 5px;
  width: 81%;
  margin-left: 50px;
   
 
}
.info-side button{
padding:15px 30px;
background-color: rgb(96, 38, 127);
color:white;
border-radius: 5px;
border: 2px solid rgb(154, 84, 188);
}


.buttons-container :first-child{

  width: 49%;
 
}
.buttons-container :last-child{
    width: 49%;

}

.list-container{
  /* background-color: #9A54BC; */
  margin-top: 50px;
  display: flex;
  flex-direction: column;
gap:5px;
  align-items: center;
  /* justify-content: center;  */
}


.list-item{
  width: 70%;
  background-color: rgb(242, 242, 242);
  margin-bottom: 10px;
  padding: 40px 20px;
text-align: left;
  display: inline-block;
font-size: 16px;
}
.list-item a{
  
  color: black;
  
font-size: 15px;

}
.img-container{
  /* width: 300px; */
  /* background-color: brown; */
  /* aspect-ratio: 200/432; */
  width: 40%;
}
.img-container>img{
  width: 350px;
 
  }

.video-section{
margin-top: 80px;
margin-bottom: 80px;
/* background-color: antiquewhite; */


}
.video-section h2{
  margin-bottom: 30px;
}
.video-section p{
  margin-bottom: 30px;
  font-size: 18px;
}


.photos-gallery{
}
.photos-gallery h2{
  margin-bottom: 30px;
}
.photos-gallery .photo-container{
display: flex;
flex-direction: row;
justify-content: center;
gap:40px;
}
.photos-gallery .photo-item{
  
}
.photos-gallery .text-container{
  text-align: left;
  margin-left: 10px;
  color: #9A54BC;
  font-weight: 600;
  margin-top: 10px;
}
.text-container p:last-child{
  color: black;
  margin-top: 10px;


}
.packages-section{
  margin-top: 100px;
}
.packages-section>p{
  color: rgba(167, 157, 157, 1);
  margin: 20px 0;
  font-size: 20px;
}
.button-container{
  display: flex;
  justify-content: center;
  gap: 15px;
  /* background-color: aqua; */
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 20px;
}
.button-container > p:first-child{
  color: rgba(167, 157, 157, 1);
}
.button-container > p:last-child{
  background-color: rgba(255, 232, 122, 1);
  border-radius: 5px;
  padding: 5px 7px;
  font-size: 15px;
}
.packages-container .btn{
  padding: 10px;
  border: 2px solid rgba(43, 2, 54, 1);
  background-color: white;
  border-radius: 5px;
  color: rgba(43, 2, 54, 1);
  font-weight: 700;
  margin-bottom: 20px;
}

.packages-container .btn:hover{
color: white;
background-color: rgba(43, 2, 54, 1);
}


.packages-container{
  display: flex;
  gap: 30px;
  justify-content: center;
   text-align: left;
  /* background-color: aquamarine; */
 
}
.package-item{
  padding: 20px;
  width: 15%;
  border: 1px solid rgba(170, 170, 170, 1);
  border-radius: 10px;
}
.package-item>p{
  font-size: 21px;
  font-weight: 800;
  margin: 20px 0;
}

.enterprise{
  background-color: rgba(86, 230, 165, 1);
}
.enterprise>p:last-child{
  font-size: 14px;
  font-weight: 500;
}
::marker{

  content:url(../img/Vector.svg);
  padding: 20px;
}
.custom-marker > li{
  padding-left: 10px;
  margin-bottom: 10px;
}